*{
    margin: 0;
    padding: 0;
    
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Viaoda+Libre&display=swap');

    color: #555;
}

html, body{
    font-family: 'Roboto', sans-serif;
    
    height: 100vh;
    
}

body{
    font-size: 62.5%;   

}

a{
    text-decoration: none;
    color: white;
}


/* Header */
.main-header{
    height: 100vh;

    background-image: url(../img/topo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

.header-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 160px 20px 160px;
    background-color: #162028;

    box-shadow: 2px 1px 18px #2b363f;
}

.header-logo a{
    color: white;
    text-transform: capitalize;
    font-family: 'Viaoda Libre';
    font-size: 3em;

}

.header-list{
    display: flex;
    font-size: 1.6em;

    list-style: none;
}

.header-list li{
    margin-left: 5em;
}

.header-list li a{
    color: #425564;

    text-transform: uppercase;
}

.header-list li:hover a{
    color: white;
}

/* Main */
.main-container{
    display: flex;
    flex-direction: column;
}

.container-one{
    height: 100vh;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-one-itens{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: auto;
    width: 75%;

}

.container-one-itens h1{
    font-family: 'Viaoda Libre';
    font-size: 3.6em;
    font-weight: lighter;

    padding: .7em;
}

.one-itens-parag{
    font-size: 1.5em;
    text-align: center;
    line-height: 2em;
    font-weight: 400;
    
    padding: .7em;

    width: 75%;

}
.models{
    display: flex;
    justify-content:center;

    width: 100%;
    gap: 2em;

    padding: 1.5em;
    margin-top: 10px;
}

.models-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;

}

.models-item p{
    margin: 1em;
    font-size: 1.4em;

    text-transform: uppercase;
}

.models-item span{
    font-size: 1.2em;
}

/* Section Two */
.container-two{
    background-color: #003d52;
    background-image: url(../img/bg_detalhe.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: bottom;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

}

.container-two-item{

    width: 75%;
    padding: 1.5em;

    display:flex;
    flex-direction: column;
    align-items: flex-start;

}

.container-two-item h2{
    color: white;
    text-transform: uppercase;
    font-family: 'Viaoda Libre';

    font-size: 5em;
    font-weight: 500;
    line-height: 1.3em;

    padding: 1.6em 0;

}

.container-two-item p{
    color: white;
    font-size: 1.6em;
    font-weight: 300;
    line-height: 1.6em;
    letter-spacing: .1em;

    padding-bottom: 3.6em;
    width: 65%;


}



