*{
    margin: 0;
    padding: 0;

}

html{

    font-size: 62.5%;
    font-family: 'Maven Pro';
    
}


html, body{
    height: 100vh;    
}

a{
    text-decoration: none;
    color: white;
}


.main-header{
        background-color: #2A2A2A;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em;
}

.main-header img{
    width: 150px;
    padding-left: 10em;
}
.list-header{
    padding-right: 15em;
}

.list-header-itens{
    list-style: none;
    display: flex;

    justify-content: space-around;
    align-items: center;
    gap: 3em;
}

.list-header-itens li{
    padding: 1.2em;
    border: solid 1px #FED001;
}

.list-header-itens li a{
    color: #FED001;
    font-size: 1.6em;
}

.list-header-itens li:hover a{
    text-decoration: underline;
}

/* #### Main #### */
/* main-container */

.main-conteiner{
   
    display: flex;
    flex-direction: column;
}

.main-banner{

    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 86vh;
    background-image: linear-gradient(180deg, white, #FFFF38);

    gap: 3em;

}

.banner-desc{
    font-size: 3em;
    width: 25%;
    
    line-height: 2.5em;
    margin-left: 5%;    
}

.banner-desc a{
    background-color: #FED001;
    width: fit-content;
    padding: .7em 1.5em;

    border: none;

    font-size: .6em;
    color: black;
    font-weight: bolder;
}

.img-banner{
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
   
}

.img-banner img{
    width: 87%;
    
}

/* Seção principais cursos */

.destc-cursos{
    background-color: rgba(216, 216, 216, 0.288);

    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.destc-cursos h2{
    font-size: 3em;
    text-transform: capitalize;
    
}


.btn-mais-cursos{
    background-color: #FED001;
    padding: 1em 5em;
}

.btn-mais-cursos a{
    color: black;
    font-weight: bolder;
    font-size: 1.5em;
}

.main-cards{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    width: 80%;
    

}

.card{
    background-color: white;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: auto;
}

.card img{
    width: 100%;
}

.card-article{
    padding: 20px;
}

.card-article h3{
    font-size: 2em;
    font-weight: bold;
    padding: 10px;
}

.card-article p{
    font-size: 1.8em;
    padding: 10px;
}