*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #385555;
}

body{
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

    width: 50%;

}

.container h1{
    font-size: 26px;
    margin-bottom: 20px;
}

.container .list{
    
    width: 90%;
    max-width: 500px;
    max-height: 400px;
    margin-top: 20px;

    background-color: rgba(236, 236, 228, 0.555);
    box-shadow: 0 2px 8px rgba(0, 0, 0, .2);

    overflow-y: auto;

}

.container .list ul{
    list-style: none;

    
}

.container .list ul li{

    display: inline-block;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;

    cursor: pointer;

}

.contatos{
    border-bottom: solid 1px #bdbdbda2;
}

/* OBS: Para realizar o efeito é necessario a li esta dendo da tag <a> */

.container .list ul li:hover{
    background-color: rgba(228, 228, 221, 0.925);
}

.contatos .img-perfil img{
    border-radius: 50%;
    width: 60px;

    padding: 10px;
}

.descricao{
    flex-grow: 1;
    padding: 0 5px;
}

.descricao h2{
    font-size: 1.2em;
    font-weight: 600;

    width: fit-content;
}

.descricao p{
    color: #aaa;
    font-size: .8em;
}

.icones {
    display: flex;
} 

